body, html {
        margin: 0;
        padding: 10px; 
        height: 100%;
    }

#cursorAnchor {
    position: absolute;
    background-color: blue; 
    pointer-events: none; /* Allows clicks to pass through to the input */
    height: 8px;
    width: 8px;
}


#myInput {
    width: 100%;
    height: 50000px; /* vh is a unit relative to the viewport height */
    resize: none; /* prevent resizing by the user */
    box-sizing: border-box; /* include padding and border in the element's total width and height */
    border: 0;
    font-size: 14px;
    line-height: 1.3;
    outline: none;
    white-space: pre-wrap;
}
